body,ul,li{
  margin:0;
  padding:0;
  list-style: none;
}
@import "mixins.scss";
html{
  height:100%;
}
@include useRem(640px);
.content{
  width:100%;
  height:100%;
  background:url(../images/IMG_5667.PNG)repeat;
  position:relative;
  overflow:auto;
  .left{
    position:fixed;
    width:0.8rem;
    height:100%;
    background:url(../images/one.png) repeat-y;
    z-index: 2;
    .add{
      width:0.55rem;
      height:0.55rem;
      background-image:url(../images/2.PNG);
      background-repeat: no-repeat;
      background-size:cover;
      position:absolute;
      left:0.1rem;
      top:0.8rem;
    }
    .mic{
      width:0.55rem;
      height:0.55rem;
      background-image:url(../images/1.jpg);
      background-repeat: no-repeat;
      background-size:cover;
      position:absolute;
      left:0.1rem;
      top:2.08rem;
    }
    .more{
      width:0.55rem;
      height:0.55rem;
      background-image:url(../images/3.PNG);
      background-repeat: no-repeat;
      background-size:cover;
      position:absolute;
      left:0.1rem;
      bottom:0.3rem;
    }
  }
  .right{
    height:auto;
    width:100%;
    overflow:hidden;
    $backlist:(1:#93ecff,2:#e0e0e0,3:#fcffa3,4:#bdffa6,5:#ffc4fe,6:#bdffa6,7:#ffc0c0,8:#93ecff,9:#e0e0e0,10:#fcffa3,11:#bdffa6,12:#ffc4fe,13:#bdffa6,14:#ffc0c0,15:#93ecff,16:#e0e0e0,17:#fcffa3,18:#bdffa6,19:#ffc4fe,20:#bdffa6,21:#ffc0c0);
    $colorlist:(1:#3ba2b8,2:#878787,3:#b5a223,4:#5ca86a,5:#c17ac0,6:#5ca86a,7:#b26b6b,8:#3ba2b8,9:#878787,10:#b5a223,11:#5ca86a,12:#c17ac0,13:#5ca86a,14:#b26b6b,15:#3ba2b8,16:#878787,17:#b5a223,18:#5ca86a,19:#c17ac0,20:#5ca86a,21:#b26b6b);
    @each $v in map_keys($backlist){
      li:nth-child(#{$v}) {
        background: map_get($backlist, $v);
      }
    }
    @each $v in map_keys($colorlist){
      li:nth-child(#{$v}){
        color:map_get($colorlist,$v);
      }
    }
    li{
      width:5.38rem;
      min-height:1.1rem;
      height:auto;
      margin-top:0.16rem;
      margin-right:0.24rem;
      border-radius:0.1rem;
      line-height:1.1rem;
      font-size:0.3rem;
      font-weight:bold;
      color:#3ba2b8;
      background:#93ecff;
      position:relative;
      left:0.75rem;
      text-align: center;
      &.move{
        animation:move 0.5s ease both;
      }
      @keyframes move {
        0%{
          transform: translate3d(0,0,0);
        }
        100%{
          transform: translate3d(120%,0,0);
        }
      }
      span{
        display:inline-block;
        text-align: left;
        width:4.6rem;
        height:auto;
        //position:absolute;
        //left:1.15rem;
        input{
          width:100%;
          min-height:0.7rem;
          height:auto;
          background:transparent;
          border:0;
          outline: none;
          font-size:0.3rem;
        }
      }
      &.del{
        background:#222626;
        color:#8a8a8a;
        &:after{
          content:'';
          display: inline-block;
          width:4.9rem;
          position:absolute;
          border:1px solid #000;
          left:0.2rem;
          top:0.5rem;
        }
      }

    }




  }
}
body{
  font-size:16px;
  height:100%;
  font-family:"微软雅黑";
}